/* ********* Section 1 ********* */
.sec1{
    padding: 8.64vw 14.58vw 5.98vw;
    background: #4556CF;
    position: relative;
}
.sec1 .content{
    position: relative;
    z-index: 10;
}
.sec1 .bg{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    transform: translateY(0.93vw);
}
.sec1 h1{
    color: white;
    font-family: 'Montserrat-Bold';
    line-height: 110%;
    font-size: 2.60vw;
    margin-bottom: 38px;
}
.sec1 .inputsWrapper{
    display: flex;
    max-width: 1220px;
    width: 100%;
}
.sec1 .inputs{
    display: flex;
    align-items: center;
    max-width: 805px;
    background: white;
    width: 100%;
    margin-right: 30px;
}
.sec1 .inputs input{
    background: white;
    padding: 33px 29px;
    font-size: 14px;
    border: none;
    outline: none;
    font-weight: 900;
    color: #202226;
    width: 50%;
    position: relative;
}
.sec1 .inputs input::placeholder{
    color: #202226;
}
.sec1 .line{
    width: 2px;
    height: 33px;
    background: #4556CF;
}
.sec1 .inputsWrapper button{
    background: #202226;
    border-radius: 100px;
    border: none;
    color: white;
    font-weight: 900;
    padding: 0 7.71vw;
    font-size: 18px;
    cursor: pointer;
    white-space: nowrap;
}
.sec1 .agree,
.sec3 .agree{
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    position: relative;
}
.sec1 .agreeBox,
.sec3 .agreeBox{
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1 .agreeBox.submit::after{
    content: '✓';
    color: white;
    font-size: 12px;
}
.sec1 .agree p,
.sec3 .agree p{
    font-size: 12px;
    color: white;
    font-weight: 600;
}
/* ********* Section 2 ********* */
.sec2{
    padding: 200px 0 211px;
}
.sec2 .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 62px;
    row-gap: 150px;
}
.sec2 .text h1{
    text-decoration: 3px underline #4556CF;
    font-family: 'Montserrat-Bold';
    font-size: 42px;
    margin-bottom: 30px;
    color: #202226;
}
.sec2 .text p{
    color: #202226;
    font-weight: 900;
    max-width: 530px;
    width: 100%;
    line-height: 170%;
    margin-bottom: 40px;
}
.sec2 .text ul{
    list-style: none;
    max-width: 555px;
    width: 100%;
}
.sec2 .text ul li:not(:last-child){
    margin-bottom: 20px;
}
.sec2 .text ul li{
    font-size: 16px;
    font-family: 'Montserrat-Bold';
    color: #202226;
    line-height: 170%;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.sec2 .text ul li::before{
    content: '';
    position: absolute;
    background: #4556CF;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    left: -25px;
}
.sec2 .picture img{
    width: 100%;
}
.sec2 .text, .sec2 .picture{
    position: relative;
}
.sec2 .ico1,
.sec2 .ico2,
.sec2 .ico3,
.sec2 .ico4{
    position: absolute;
}
.sec2 .ico1{
    top: -8vw;
    left: -5vw;
}
.sec2 .ico2{
    bottom: 3vw;
    right: 3vw;
}
.sec2 .ico3{
    bottom: -1vw;
    right: 5vw; 
}
.sec2 .ico4{
    bottom: 5vw;
    right: 13vw;
}
/* *************  Section 3  ************* */
.sec3{
    background: #F5F7FE;
    padding: 7.44vw 0 7.81vw;
}
.sec3 .tryit{
    color: #202226;  
    max-width: 607px;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.sec3 h1{
    font-family: 'Montserrat-Bold';
    font-size: 4.16vw;
    letter-spacing: -0.03em;
    margin-bottom: 3.28vw;
    text-align: center;
}
.sec3 .tryit p.info{
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 4.68vw;
}
.sec3 .tryit input{
    max-width: 29.94vw;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    background: transparent;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #8B8C92;
    font-weight: 900;
}
.sec3 .tryit input::placeholder{
    color: #202226;
}
.sec3 .agree{
    margin-bottom: 60px;
    margin-top: 0;
    margin-left: 15px;
}
.sec3 .agree p{
    color: #202226;
}
.sec3 .agreeBox{
    border: 1px solid #202226;
}
.sec3 .agreeBox.submit::after{
    content: '✓';
    color: #202226;
    font-size: 12px;
}
.sec3 .tryit button{
    display: block;
    margin: 0 auto;
    background: #202226;
    border-radius: 100px;
    max-width: 388px;
    width: 100%;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0px 8px 34px rgba(69, 86, 207, 0.64);
    transition: all 0.3s ease;
    padding: 30.5px 0;
}
.sec3 .tryit button:hover{
    box-shadow: none;
}
/* ********************** */